.form-wrapper
  position: absolute
  width: 35%
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  display: flex
  flex-direction: column
  box-sizing: border-box
  @media only screen and (max-width: 1024px)
    width: 50%
  @media only screen and (max-width: 768px)
    width: 65%
  @media only screen and (max-width: 425px)
    width: 90%

form
  margin: 15px auto 15px
  padding: 15px 10px
  width: 100%
  display: flex
  flex-direction: column
  box-sizing: border-box
  border: 2px solid black
  border-radius: 5px

  & span

    text-align: center
    font-size: 1.5rem
    margin-bottom: 5px

  & div
    position: relative
    display: flex
    flex-direction: column
    margin-bottom: 15px

  & input
    height: 35px
    padding-left: 10px
    border-radius: 4px
    outline: none
    border: none
    font-family: "Roboto", sans-serif
    font-size: 1.2rem
    @media only screen and (max-width: 425px)
      font-size: 1rem
    &[data-state="valid"]
      box-shadow: 0 0 3px 2px green
    &[data-state="invalid"]
      box-shadow: 0 0 3px 2px red

  & input[name="user"]
    text-transform: uppercase

  & input[type="date"]
    position: relative
    content: ""
    &::-webkit-calendar-picker-indicator
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      width: auto
      height: auto
      color: transparent
      background: transparent

  & label
    margin: 5px 0
    font-family: "Roboto", serif
    font-size: 0.8rem
    & b
      color: red

  & p
    position: absolute
    top: 65px
    color: red
    font-family: "Roboto", serif
    font-size: 0.8rem

  .msg-err
    top: 180px

  & textarea
    max-width: 100%
    min-width: 100%
    min-height: 150px
    max-height: 150px
    padding: 10px
    border-radius: 4px
    outline: none
    border: none
    font-family: "Roboto", serif
    font-size: 1rem
    &[data-state="valid"]
      box-shadow: 0 0 3px 2px green
    &[data-state="invalid"]
      box-shadow: 0 0 3px 2px red

  & button
    margin-top: 15px
    height: 30px
    width: 100%
    background-color: #3a80cf
    color: #fff
    border: none
    border-radius: 5px
    cursor: pointer
    transition: .2s linear
    &:hover
      background-color: #37679e

  & button[disabled]
    cursor: not-allowed
    background-color: #8f8f8f
    color: #000

.server-answer
  text-align: center
  font-size: 1.2rem
  text-transform: uppercase
  & pre
    margin: 0
